{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'includes/datatable/css/jquery.dataTables.min.css' %}">
    <script src="{% static 'includes/datatable/js/jquery.dataTables.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row" style="margin-top: 14px; padding: 0 75px">
        <div class="col-lg-12">
            <div class="breadcrumb ">
                <a href="/">Главная</a>/
                <a href="#">История проектов</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="accordion" id="accordionHistoryProjects">
                {% for event in events %}
                    <div class="accordion-custom-item">
                        <div class="accordion-custom-header" id="heading{{ forloop.counter }}">
                            <button class="accordion-custom-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ forloop.counter }}"
                                    aria-expanded="true" aria-controls="collapseOne">
                                {{ event.title }}
                            </button>
                        </div>
                        <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                             aria-labelledby="headingOne"
                             data-bs-parent="#accordionHistoryProjects">
                            <div class="accordion-body accordion-custom-body">
                                <div class="table-responsive">
                                    <table class="history-document-table w-100"
                                           id="history-table-{{ forloop.counter }}"
                                           data-table-type="paginate-table-{{ forloop.counter }}">
                                        <thead>
                                        <th class="c-secondary">№</th>
                                        <th class="c-secondary">Название</th>
                                        <th class="c-secondary text-center">Рейтинг по статусу</th>
                                        <th class="c-secondary text-center">Рейтинг по дедлайну</th>
                                        <th class="c-secondary text-center">Рейтинг по плану</th>
                                        </thead>
                                        <tbody>
                                        {% for document in event.document_set.all %}
                                            <tr onclick="location.href='{% url 'document' document.pk %}'">
                                                <td scope="row" class="c-secondary"
                                                    style="margin-bottom: 19px; padding: 8px;">{{ forloop.counter }}</td>
                                                <td class="history-td">
                                                    {{ document.title }}
                                                </td>
                                                <td class="history-td" align="center">{{ document.status_ratio }}</td>
                                                <td class="history-td" align="center">{{ document.deadline_ratio }}</td>
                                                <td class="history-td"
                                                    align="center">{{ document.action_plan_ratio }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    {#    <div class="accordion" id="accordionHistoryProjects">#}
    {#        {% for event in events %}#}
    {#            <div class="accordion-item">#}
    {#            <h2 class="accordion-header" id="accordion{{event.pk}}">#}
    {#                <button class="accordion-button" type="button" data-bs-toggle="collapse"#}
    {#                        data-bs-target="#collapse{{event.pk}}"#}
    {#                        aria-expanded="true" aria-controls="collapseOne">#}
    {#                    {{event.title}}#}
    {#                </button>#}
    {#            </h2>#}
    {#            <div id="collapse{{event.pk}}" class="accordion-collapse collapse show" aria-labelledby="headingOne"#}
    {#                 data-bs-parent="accordion{{event.pk}}">#}
    {#                <div class="accordion-body">#}
    {##}
    {#                    <div class="table-responsive">#}
    {#                        <table class="table table-hover">#}
    {#                            <thead>#}
    {#                            <tr>#}
    {#                                <th scope="col">#</th>#}
    {#                                <th scope="col">Название</th>#}
    {#                                <th scope="col">#}
    {#                                    <div class="d-flex">#}
    {#                                        <span>Рейтинг по статусу</span>#}
    {#                                    </div>#}
    {##}
    {#                                </th>#}
    {#                                <th scope="col">#}
    {##}
    {#                                    <div class="d-flex">#}
    {#                                        <span>Рейтинг по дедлайну</span>#}
    {#                                    </div>#}
    {##}
    {#                                </th>#}
    {#                                <th scope="col">#}
    {##}
    {#                                    <div class="d-flex">#}
    {#                                        <span>Рейтинг по составленному плану</span>#}
    {#                                    </div>#}
    {#                                </th>#}
    {#                                <th scope="col"></th>#}
    {#                            </tr>#}
    {#                            </thead>#}
    {#                            <tbody>#}
    {#                            {% for d in event.document_set.all %}#}
    {#                            <tr>#}
    {#                                <th scope="row">{{ forloop.counter }}</th>#}
    {#                                <td><a href="{% url 'document' d.pk %}" style="text-decoration:None">{{ d.title }}</a>#}
    {#                                </td>#}
    {#                                <td>{{ d.status_ratio }}</td>#}
    {#                                <td>{{ d.deadline_ratio }}</td>#}
    {#                                <td>{{ d.action_plan_ratio }}</td>#}
    {#                                <td>#}
    {# Скачать файл #}
    {#                                    <a title="Скачать" style="padding-right: 2px; text-decoration:None"#}
    {#                                       href="{% url 'download' d.pk %}">#}
    {#                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
    {#                                             fill="currentColor"#}
    {#                                             class="bi bi-arrow-down-circle" viewBox="0 0 16 16">#}
    {#                                            <path fill-rule="evenodd"#}
    {#                                                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>#}
    {#                                        </svg>#}
    {#                                    </a>#}
    {##}
    {#                                    <div class="modal fade" id="myModal{{ d.pk }}">#}
    {#                                        <div class="modal-dialog">#}
    {#                                            <div class="modal-content">#}
    {##}
    {#                                                <!-- Modal Header -->#}
    {#                                                <div class="modal-header">#}
    {#                                                    <h4 class="modal-title">Обновление файла</h4>#}
    {#                                                    <button type="button" class="btn-close"#}
    {#                                                            data-bs-dismiss="modal"></button>#}
    {#                                                </div>#}
    {##}
    {#                                                <!-- Modal body -->#}
    {#                                                <div class="modal-body d-flex">#}
    {#                                                    <form class="d-flex" action="{% url 'update' d.pk %}" method="post"#}
    {#                                                          enctype="multipart/form-data">#}
    {#                                                        {% csrf_token %}#}
    {#                                                        <div>#}
    {##}
    {##}
    {#                                                            {{ formDocUpdate.as_p }}#}
    {#                                                        </div>#}
    {##}
    {#                                                        <div>#}
    {#                                                            <input type="submit" value="Загрузить"#}
    {#                                                                   class="btn btn-success">#}
    {#                                                        </div>#}
    {##}
    {##}
    {#                                                    </form>#}
    {#                                                </div>#}
    {##}
    {#                                                <!-- Modal footer -->#}
    {#                                                <div class="modal-footer">#}
    {#                                                    <button type="button" class="btn btn-danger"#}
    {#                                                            data-bs-dismiss="modal">Закрыть#}
    {#                                                    </button>#}
    {#                                                </div>#}
    {##}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {# Удалить файл ( для админа ) #}
    {#                                    {% if request.user.is_staff %}#}
    {#                                    <a title="Удалить файл" href="{% url 'delete' d.pk %}" style="text-decoration:None">#}
    {#                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
    {#                                             fill="currentColor"#}
    {#                                             class="bi bi-basket3" viewBox="0 0 16 16">#}
    {#                                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"/>#}
    {#                                        </svg>#}
    {#                                    </a>#}
    {#                                    {% endif %}#}
    {#                                </td>#}
    {##}
    {##}
    {#                            </tr>#}
    {##}
    {#                            {%endfor%}#}
    {#                            </tbody>#}
    {#                        </table>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        {% endfor %}#}
    {#    </div>#}
{% endblock %}

{% block js_block %}
    <script src="{% static 'js/paginate_table.js' %}"></script>
{#    <script>#}
{#        jQuery(document).ready(function () {#}
{#            $tables = new DataTable('table[id^=history-table-]', {#}
{#                dom: 't<"d-flex justify-content-center"p>',#}
{#                ordering: false,#}
{#                pageLength: 5,#}
{#                language: {#}
{#                    oPaginate: {#}
{#                        sNext: '<div class="d-flex align-content-center justify-content-center"><span class="svg-arrow i-left"></span></div>',#}
{#                        sPrevious: '<div class="d-flex align-content-center justify-content-center"><span class="svg-arrow i-right"></span></div>',#}
                        {#sFirst: '<i class="fa fa-step-backward"></i>',#}
                        {#sLast: '<i class="fa fa-step-forward"></i>'#}
{#                    }#}
{#                }#}
{#            });#}
{#            console.log($tables);#}
{#        });#}
{#    </script>#}
{% endblock %}