@import "fonts.css";
@import "icons.css";

/* Header styles */
@import "header.css";

/* Form styles */
@import "forms.css";

/*Modal styles*/
@import "modals.css";


html {
    font-family: "InterSemiBold";
}

body {
    background: #F4F4FC;
}

.btn-common {
    border-radius: 24px;
    background: #FDB412;
    padding: 18px 15px;
    color: white;
    text-decoration: none;
}

.btn-common:hover {
    background: #b1800a;
    color: white;
}
