@import "fonts.css";
@import "icons.css";

/* Header styles */
@import "header.css";


html {
    font-family: "InterSemiBold";
}

body {
    background: #F4F4FC;
}

.btn-common {
    border-radius: 24px;
    background: #FDB412;
    padding: 18px 15px;
    color: white;
    text-decoration: none;
}

.btn-common:hover {
    background: #b1800a;
    color: white;
}

/* Modal styles */

.faq-modal {
    max-width: 850px;
}

.btn-common-outline {
    letter-spacing: 0.1em;
    font-size: 18px;
    line-height: 22px;
    border: 2px solid #725000;
    border-radius: 24px;
    color: #725000;
    width: 124px;
    height: 48px;
    background: white;
    font-weight: 500;
}
