.sidebar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    display: flex;
    flex-direction: row;
    padding: 7px 10px;
    cursor: pointer;
    white-space: nowrap;
}

.menu-icon {
    flex-basis: 24px;
}

.menu-item:hover {
    background: #E6E6F6;
    border-radius: 15px;
}

.menu-link {
    text-decoration: none !important;
}

.admin-sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.admin-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6E6E71;
    border-radius: 15px;
    text-decoration: none;
    padding: 7px 10px;
    width: max-content;
}

.admin-link:hover {
    color: #6E6E71;
    background: #E6E6F6;
}