.project-detail-info {
    padding: 20px 80px;
}

.project-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #725000;
}


.project-info-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 50px;
}

.project-info-value {
    position: relative;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 44px;
    line-height: 53px;
    color: #FDB412;
}

.project-value-changed {
    position: absolute;
    left: 50px;
    top: -5px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.55);
}

.project-img > img {
    border-radius: 50%;
}

.project-graph-detail {
    padding: 35px 65px;
}

.project-graph-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #725000;
}

.project-graph-colors {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 45px;
}

.project-graph-color {
    background: #98B2E5;
    border-radius: 24px;
    width: 79px;
    height: 29px;
}

.project-graph {
    margin-top: 20px;
    margin-bottom: 40px;
}

.color-title {
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

@media (max-width: 576px) {
    .project-value-changed {
        left: calc(60%);
        top: -5px;
    }
}

@media (min-width: 576px) {
    .project-value-changed {
        left: 205px;
        top: -5px;
    }
}

@media (min-width: 768px) {
    .project-value-changed {
        left: 295px;
        top: -5px;
    }
}

@media (min-width: 992px) {
    .project-value-changed {
        left: 50px;
        top: -5px;
    }
}

@media (min-width: 1200px) {
    .project-value-changed {
        left: 50px;
        top: -5px;
    }
}

