<nav class="navbar bg-light">


    <div class="container-fluid">
        <div><a href="{% url 'documents' %}" style="text-decoration:None"><span
                style="color: #1b1b1b">Школа ректоров 21</span></a></div>
        <form class="d-flex" action="{% url 'search' %}" method="get">
            <input class="form-control mr-2" type="search" placeholder="Название файла" name="q"
                   aria-label="Search">
            <button type="submit" class="btn btn-outline-dark" type="submit">
                Поиск
            </button>
        </form>

        <form class="d-flex" action="{% url 'sorted_documents' %}" method="get">
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Сортировка по
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><input class="dropdown-item" type="submit" name="orderby" value="Дедлайн"></li>
                    <li><input class="dropdown-item" type="submit" name="orderby" value="Статус"></li>
                    <li><input class="dropdown-item" type="submit" name="orderby" value="План действий"></li>
                </ul>
            </div>
        </form>
        <div style="display:flex;">
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#myModal3"
                    style="margin-right: 5px;">
                FaQ
            </button>
            <div class="modal fade" id="myModal3">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Правила подсчета очков</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body d-box">
                            <div>
                                <h5>Рейтинг по статусу.</h5>
                                <p>Считается суммарное значение баллов, в соответствии со значениями присланного файла
                                    (Выполнено - 2 балла , В процессе - 1 балл, Не начато - 0 баллов). </p>

                            </div>
                            <div>
                                <h5>Рейтинг по дедлайну.</h5>
                                <p>Считается суммарный временной интервал от 21.01.2022.</p>
                            </div>

                            <div>
                                <h5>Рейтинг по плану.</h5>
                                <p>Определяется размером списка задач. </p>
                            </div>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                        </div>

                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#myModal">
                Загрузить файл
            </button>

            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Загрузка нового файла</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body d-flex">
                            <form class="d-flex" action="{% url 'add_document' %}" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div>
                                    <input type="text" name="File_title" placeholder="Название">
                                    <input type="password" name="password" placeholder="Пароль">
                                    <input type="file" name="File">
                                </div>
                                <div>
                                    <input type="submit" value="Загрузить" class="btn btn-success">
                                </div>


                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>


</nav>

