{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
    <div class="container-fluid container-lg h-100 container-header">
        <a class="navbar-brand ms-3 ms-lg-0" href="/">
            <img src="{% static 'icons/logo.svg' %}" alt="" width="51" height="51">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="navbar-link navbar-btn dropdown-toggle align-items-center" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Диплом 2023
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for i in events %}
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <form class="d-flex me-auto bg-white" action="{% url 'search' %}" method="get">
                <button class="navbar-link search-btn" type="submit">Поиск</button>
                <input class="search-input" type="search" aria-label="Search" name="q" value="{{ q }}">
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0 align-items-lg-center">
                <li class="nav-item navbar-btn align-items-lg-center">
                    <a class="navbar-link" href="{% url 'documents_history' %}" tabindex="-1" aria-disabled="true">История
                        проектов</a>
                </li>
                <li class="nav-item navbar-btn align-items-lg-center">
                    <a class="navbar-link" href="#" data-bs-toggle="modal" data-bs-target="#faqModal">FAQ</a>
                </li>
                <li class="nav-item align-items-lg-center">
                    <a class="btn-common ms-3" href="#" data-bs-toggle="modal" data-bs-target="#createProjectModal">Создать
                        проект</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% include 'includes/modals/faq_modal.html' %}
{% include 'includes/modals/create_project_modal.html' %}

{#<nav class="navbar bg-light">#}
{#    <div class="container-fluid py-1">#}
{#        <div class="dropdown">#}
{#            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"#}
{#                    data-bs-toggle="dropdown" aria-expanded="false">#}
{#                Выберите проект#}
{#            </button>#}
{#            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">#}
{#                {% for i in events %}#}
{#                    <li><a class="dropdown-item" type="submit" href="{% url 'documents_event_slug' i.title %}">{{ i.title }}</a>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{##}
{#              Сортировки          #}
{#        <form class="d-flex" action="{% url 'search' %}" method="get">#}
{#            <input class="form-control mr-2" type="search" placeholder="Название файла" name="q"#}
{#                   aria-label="Search" value="{{ q }}">#}
{#            <button type="submit" class="btn btn-outline-dark" type="submit">#}
{#                Поиск#}
{#            </button>#}
{#        </form>#}
{##}
{#        <form class="d-flex" action="{% url 'sorted_documents' %}" method="get">#}
{#            <div class="dropdown">#}
{#                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"#}
{#                        data-bs-toggle="dropdown" aria-expanded="false">#}
{#                    Сортировка по#}
{#                </button>#}
{#                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">#}
{#                    <li><input class="dropdown-item" type="submit" name="orderby" value="Дедлайн"></li>#}
{#                    <li><input class="dropdown-item" type="submit" name="orderby" value="Статус"></li>#}
{#                    <li><input class="dropdown-item" type="submit" name="orderby" value="План действий"></li>#}
{#                </ul>#}
{#            </div>#}
{#        </form>#}
{##}
{##}
{#        <div style="display:flex;">#}
{#            <a type="button" class="btn btn-outline-dark me-1" href="{% url 'documents_history' %}">#}
{#                История#}
{#            </a>#}
{#       FAQ     #}
{#            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#myModal3"#}
{#                    style="margin-right: 5px;">#}
{#                FAQ#}
{#            </button>#}
{#Загрузить файл#}
{#<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#myModal">#}
{#    Загрузить файл#}
{#</button>#}
{##}
{#            <div class="modal fade" id="myModal">#}
{#                <div class="modal-dialog">#}
{#                    <div class="modal-content">#}
{##}
{#                        <!-- Header -->#}
{#                        <div class="modal-header">#}
{#                            <h4 class="modal-title">Загрузка нового файла</h4>#}
{#                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>#}
{#                        </div>#}
{##}
{#                        <!-- body -->#}
{#                        <div class="modal-body d-flex">#}
{#                            <form class="d-flex" action="{% url 'add_document' %}" method="post"#}
{#                                  enctype="multipart/form-data">#}
{#                                {% csrf_token %}#}
{##}
{#                                <div>#}
{#                                    <p>Введите имя автора файла (будет отображаться на главной странице)</p>#}
{#                                    <input type="text" class="form-control" name="title" placeholder="Название">#}
{#                                    <p>Придумайте пароль, он будет использован для обновления файла в будущем</p>#}
{#                                    <input type="password" name="password" class="form-control" placeholder="Пароль">#}
{#                                    <input type="file" name="uploaded_file" class="form-control">#}
{#                                    <div class="mt-1">#}
{#                                        <label for="event"><span class="text-danger">ВАЖНО!</span> Выберите соответствующее мерпориятие</label>#}
{#                                        <select name="event" id="event" required class="form-control">#}
{#                                        {% for i in events %}#}
{#                                            <option value="{{ i.pk }}">{{ i.title }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                    </div>#}
{#                                    <div><input type="submit" value="Загрузить" class="btn btn-success"#}
{#                                                style="margin-top: 3px"></div>#}
{##}
{#                                </div>#}
{##}
{##}
{#                            </form>#}
{#                        </div>#}
{##}
{#                        <!-- footer -->#}
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#        </div>#}
{##}
{#    </div>#}
{#</nav>#}