<div class="table-responsive">
    <table class="document-table w-100">
        <thead>
        <th>№</th>
        <th>Название</th>
        <th>Рейтинг по статусу</th>
        <th>Рейтинг по дедлайну</th>
        <th>Рейтинг по плану</th>
        </thead>
        <tbody>
        {% for document in document_list %}
            <tr onclick="location.href='{% url 'document' document.pk %}'">
                <td scope="row" class="c-secondary">{{ forloop.counter }}</td>
                <td class="c-title">
                    {{ document.title }}
                </td>
                <td class="c-main" align="center">{{ document.status_ratio }}</td>
                <td class="c-main" align="center">{{ document.deadline_ratio }}</td>
                <td class="c-main" align="center">{{ document.action_plan_ratio }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
