<div class="modal fade custom-modal create-project-modal" id="createProjectModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered create-project-modal-content">
        <div class="modal-content">
            <div class="modal-body d-box">
                <h3 class="modal-title text-center font-extra-bold c-title" style="margin-bottom: 40px;">Создание нового
                    проекта</h3>
                <form class="d-flex" action="{% url 'add_document' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="form-label form-label-indent" for="title">Введите имя автора проекта<span
                                        class="require-budge">*</span></label><br>
                                <input class="input-text" type="text" name="title" id="title" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="form-label form-label-indent" style="margin-bottom: 10px;" for="password">Придумайте
                                    пароль<span
                                            class="require-budge">*</span></label><br>
                                <div class="help-text form-label-indent" style="margin-bottom: 20px;">
                                    (необходим для подтверждения дальнейших<br> изменений в документе)
                                </div>
                                <input class="input-text" type="password" name="password" id="password" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="form-label form-label-indent" for="event">Выберете мероприятие<span
                                        class="require-budge">*</span></label><br>
                                <select class="input-select" name="event" id="event">
                                    {% for i in events %}
                                        <option value="{{ i.pk }}">{{ i.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="input-file">
                                    <input type="file" name="uploaded_file" data-filename-target="#upload-filename" required>
                                    Выберете файл
                                </label>
                                <span id="upload-filename" class="input-file-name">Файл не выбран</span>
                                <br>
                                <span class="form-label-indent">Скачать оригинальный файл: </span>
                                <ul class="list-unstyled">
                                    <li><a class="c-link form-label-indent" href="{% url 'initial_file' %}">«Я как проект»</a></li>
                                    <li><a class="c-link form-label-indent" href="{% url 'initial_file_by_name' file_name='Я_как_образование.xlsx' %}">«Я как образование»</a></li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <p class="help-text form-label-indent">Отмеченные пункты<span class="require-budge">*</span>
                            обязательны к заполнению</p>
                        <div class="row">
                            <div class="col-lg-12 d-flex justify-content-between">
                                <button type="submit" class="btn-submit">Загрузить
                                </button>
                                <button type="button" class="btn-common-outline" data-bs-dismiss="modal">Закрыть
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>