<div class="modal fade faq-modal" id="faqModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered faq-modal-content">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body d-box">
                {#                <div class="btn-group w-100">#}
                {#                    <button type="button" class="ms-auto btn-close" data-bs-dismiss="modal"></button>#}
                {#                </div>#}
                <h3 class="modal-title text-center font-extra-bold c-title" style="margin-bottom: 40px;">Здравствуйте!</h3>
                <div style="margin-bottom: 40px;">
                    <p>
                        Если вы читаете эту страницу, значит Вам предстоит поставить перед собой цель, Вы столкнулись с
                        задачей целеполагания и Вам предстоит заполнять журнал «Я как проект» либо «Образование как
                        проект».
                    </p>
                    <p>
                        <iframe width="100%" height="315"
                                src="https://www.youtube.com/embed/y3mxCaG6pLs?si=NCIdl6D2wUbFZM45"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </p>
                    <p>
                        Важно: это мощный инструмент для личной мотивации и развития self-skills, который позволит Вам
                        успешно пройти процесс трансформации, который вы задумали, и, конечно, измениться самому. Этот
                        сервис позволит Вам отслеживать свой процесс трансформации, а также Ваших коллег. Мы считаем
                        самыми важными показателями успешности вашей трансформации количество успешно выполненных задач
                        (рейтинг по статусу), временной интервал поставленных задач (рейтинг по дедлайну), общее
                        количество поставленных задач (рейтинг по плану). Для корректного под-счета рейтинга, необходимо
                        использовать оригинальный файл «Я как проект», загружая файл, Вы несете полную ответственность
                        по передачи и распространению приватной информации третьим лицам. Удачи и успехов в Вашем проекте
                        трансформации.
                    </p>
                    <b>Скачать оригинальный файл:</b>
                    <ul>
                        <li><a class="c-link" href="{% url 'initial_file' %}">«Я как проект»</a></li>
                        <li><a class="c-link"
                               href="{% url 'initial_file_by_name' file_name='Образование_как_проект.xlsx' %}">«Образование
                            как проект»</a></li>
                    </ul>
                    <br>

                </div>
                <div>
                    <h4 class="text-center font-extra-bold c-title" style="margin-bottom: 40px;">Правила подсчета
                        рейтинга</h4>
                    <h5 class="font-extra-bold c-subtitle">Рейтинг по статусу.</h5>
                    <p>
                        Считается суммарное значение баллов, в соответствии со значениями присланного файла и статусом
                        всех задач:
                        <br><br>
                        Выполнено — 2 балла<br>
                        В процессе — 1 балл<br>
                        Не начато — 0 бал
                    </p>
                </div>
                <div>
                    <h5 class="font-extra-bold c-subtitle">Рейтинг по дедлайну.</h5>
                    <p>Считается суммарный временной интервал для всех задач со сроком выполнения от
                        начала события, например, от 01.07.2023 (начало обучения для УФА 2023).
                        Для нормировки и корректного отображения графиков мы приводим результат целочисленного деления
                        на 10.<br>
                        Например, для 2-х задач со сроками выполнения до 25.07.2023 и 30.07.2023 рейтинг дедлайна будет
                        высчитываться, как
                        (24 + 29) // 10 и будет равен 5.
                    </p>
                </div>
                <div>
                    <h5 class="font-extra-bold c-subtitle">Рейтинг по плану.</h5>
                    <p>Определяется размером списка задач (общее количество задач по всем разделам). </p>
                </div>
                <hr>
                <div>
                    <p>
                        Если у вас остались вопросы по работе сервиса или вы хотите подключить свою организацию,
                        напишите нам - мы обязательно с вами свяжемся.
                    </p>
                    <a class="c-link" href="https://forms.yandex.ru/u/65f901f72530c236ef3faf33/">Форма обратной связи</a>
                </div>

                <button type="button" class="btn-common-outline float-end" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>